*{
    background-color: aqua;
}

.box{
    background-color: brown;
    width: 20%;
    height: 20%;
    border: 3px solid #000000;
    position: absolute;
    top: 40%;
    left: 40%;
}

.box p, {
    text-align: center;
    align-items: center;
  }